.jumbotron{
	color:white;
	font-size:46px;
	background-image: url("../IMG/paris_pic.jpg");
}
.container{
	background-color:none;
}
.video{width:100px;
margin-left:auto;
margin-right:auto;
}

.colored{background-color: none}

blockquote{background-color: lightblue}

.beach{display:block;
	margin-left:auto;
margin-right: auto;
}